.modal-overlay {
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  background-color: rgba(0, 0, 0, 0.7); /* Fondo oscuro transparente */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000; /* Asegura que esté por encima de todo */
}

.modal-content {
  background-color: #2c3e50;
  padding: 30px;
  border-radius: 10px;
  max-width: 900px;
  width: 90%;
  position: relative;
  color: white;
}

.modal-close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  background: red;
  color: white;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  font-weight: bold;
  cursor: pointer;
}